# Face recognition data
data/faces/
data/embeddings/
data/faiss/
data/persons/

# Logs
logs/
*.log

# Python
__pycache__/
*.pyc

# Environment
venv/
.venv/
.env

# Images
*.jpg
*.jpeg
*.png
*.heic

# Models (optional)
*.onnx

# IDE
.vscode/

# OS
.DS_Store
Thumbs.db