# Python
venv/
__pycache__/
*.pyc

# Logs
logs/
*.log

# Database
*.db
*.sqlite
*.sqlite3

# Face Recognition Data
data/faces/
data/uploads/
data/embeddings/
data/faiss/
data/persons/

# Images
*.jpg
*.jpeg
*.png
*.heic

# Models (optional)
*.onnx

# Environment
.env

# OS Files
.DS_Store
Thumbs.db